.dashboard-header p {
    color: gray;
    margin-bottom: 15px;
}

.Cards-block {
    display: flex;
    justify-content: space-around;
}

.chart-section{
    border: 1px solid gray;
    border-radius: 30px;
    padding: 20px;
    margin: 10px;
    max-width: 730px;
}