.goals-page{
    padding: 10px;
}

.goals-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.add-goal-btn{
    background: #7c3aed;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.goals-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}