* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    width: 100%;
}

.form-box {
    padding: 30px 20px;
    width: 370px;
    border-radius: 10px;
    text-align: center;
    background: transparent;
    margin-left: 250px;
}

.form-box h1 {
    color: black;
    font-size: 24px;
    font-weight: 700;
}

.form-box h5 {
    color: gray;
    font-weight: 400;
}

.form-box form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px 0;
}

.form-details {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border: 1px solid gray;
    padding: 8px 10px;
    border-radius: 30px;
    background-color: white;
}

.form-details input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 14px;
    background: transparent;
}

button {
    padding: 10px;
    border: none;
    background-color: #8470ff;
    color: white;
    border-radius: 30px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

p span {
    color: blue;
    cursor: pointer;
}

.form img{
    max-height: 95vh;
    object-fit: contain;
    width: 700px;
}
