.stats-container{
    background: white;
    padding: 20px;
    border-radius: 30px;
    border: 1px solid gray;
    max-width: 350px;
}

.chart-wrapper{
    position: relative;
}

.center-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.center-text p{
    font-size: 12px;
    color: gray;
}

.center-text h2{
    margin: 0;
}

.stats-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 14px;
}

.dot{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 6px;
}