* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: black
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}